<%- include('partials/header'); -%>
<div class="container">
<% //console.log(blogArray)%>
     <% Array.from(blogArray).forEach(element=> {%>
  <div class="blogcontainer">
    <div class="title">
      <%=element.title%>
      <span><%=element.curenttime%> </span>
    </div>
    <div class="content">
      <%=element.contant.substring(0,100) + " ..."%>
      <a href="/blogs/<%=element.blogid%>">Read More...</a>
    </div>
  </div>
  <%}); %> 

</div>
<a href="/" id="Up">Top</a>
<%- include('partials/footer'); -%>
